[submodule "go-micro"]
	path = go-micro
	url = git@github.com:buddhadonthavemoney/go-micro
	branch = main
[submodule "blockchain"]
	path = blockchain
	url = git@github.com:buddhadonthavemoney/BlockchainFromScrath
	branch = main
[submodule "go-practice-snippets"]
	path = go-practice-snippets
	url = git@github.com:buddhadonthavemoney/go-practice-snippets.git
	branch = main
